@font-face {
    font-family: 'Gang of Three';
    src: url('../font/GangofThree.woff2') format('woff2'),
        url('../font/GangofThree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Etna';
    src: url('../font/Etna.woff2') format('woff2'),
        url('../font/Etna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    position: relative;
    font-family: 'Gang of Three';
    background-image: url('../../img/fond.jpg');
    overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  min-height: 10vh;
}

.nav-list {
  width: 80%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list > li {
  position: relative;
}

.nav-list > li > a {
  display: block;
  padding: 14px 20px;
  color: black;
  text-decoration: none;
}

.nav-list > li > a:hover {
  background-color: #444;
  border-radius: 20px;
}

.dropdown-content {
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content a {
  color: #333;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: center;
}
.logo {
    position: relative;
    width: 100px;
}

.containeur {
    position: relative;
}

p {
    margin: 0;
    margin-block: 0;
}

.texte {
    position: absolute;
    font-size: 10vw;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 4;
}

.soleil img {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    z-index: 1;
}

.montagne img {
    position: fixed;
    bottom: 0;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.nuage1 img {
    position: absolute;
    top: 15vh;
    left: 18vw;
    width: 300px;
    opacity: 0.7;
    z-index: 3;
}

.nuage2 img {
    position: absolute;
    top: 29vh;
    right: 19.5vw;
    width: 270px;
    opacity: 0.8;
    z-index: 5;
}

.nuage3 img {
    position: absolute;
    top: 50vh;
    left: 8vw;
    width: 400px;
    opacity: 1;
    z-index: 5;
}

.nuage4 img {
    position: absolute;
    top: 60vh;
    right: 3vw;
    width: 400px;
    opacity: 1;
    z-index: 5;
}

.nuage5 img {
    position: absolute;
    top: 5vh;
    left: -5vw;
    width: 300px;
    opacity: 0.3;
    z-index: 5;
}

.nuage6 img {
    position: absolute;
    top: 1àvh;
    right: -3vw;
    width: 400px;
    opacity: 0.5;
    z-index: 5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Etna';
    background-color: #6A84A9;
    z-index: 6;
    color: #f5f2ed;
}

footer a {
    color: #f5f2ed;
}


@media only screen and (max-width: 768px) {
main {
  width: 100%;
}
.containeur {
  position: relative;
}
.texte {
  position: absolute;
  font-size: 18vw;
  top: 20vh;
}

.navbar {
  height: 2vh;
}
.logo {
  width: 60px;
}

.nav-list {
  width: 100%;
}

.soleil img {
  width: 50%;
}

.montagne img {
  width: 1000px;
}

.nuage1 img {
  width: 200px;
}

.nuage2 img {
  width: 250px;
}

.nuage3 img {
  width: 300px;
}

.nuage4 img {
  width: 240px;
}

.nuage5 img {
  width: 200px;
}

.nuage6 img {
  width: 200px;
}
}

@media only screen and (max-width: 425px) {
.nuage1 img {
  display: none;
}

.nuage2 img {
  display: none;
}

.nuage3 img {
  display: none;
}

.nuage4 img {
  display: none;
}

.nuage5 img {
  display: none;
}

.nuage6 img {
  display: none;
}

.navbar {
  height: 1vh;
}

.soleil img {
  width: 200px;
}

.montagne img {
  width: 1200px;
}
}