@font-face {
    font-family: 'Gang of Three';
    src: url('../font/GangofThree.woff2') format('woff2'),
        url('../font/GangofThree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Etna';
    src: url('../font/Etna.woff2') format('woff2'),
        url('../font/Etna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media screen and (max-width: 2560px) {
body {
    position: relative;
    font-family: 'Gang of Three';
    background-image: url('../../img/fond.jpg');
    overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  min-height: 10vh;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 80%;
  list-style-type: none;
}

.nav-list > li {
  position: relative;
}

.nav-list > li > a {
  display: block;
  padding: 14px 20px;
  color: black;
  text-decoration: none;
}

.nav-list > li > a:hover {
  text-shadow: 0px 0px 2px black;

}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  min-width: 200px;
  z-index: 500;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #A33C27;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: center;
}

.logo {
  position: relative;
  width: 100px;
}

.burger {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1001;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
}

.logo-wrapper {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.return {
  display: none;
}


.containeur {
    position: relative;
}

p {
    margin: 0;
    margin-block: 0;
}

.texte {
    position: absolute;
    font-size: 10vw;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 4;
}

.soleil img {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    z-index: 1;
}

.montagne img {
    position: fixed;
    bottom: 0;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.nuage1 img {
    position: absolute;
    top: 15vh;
    left: 18vw;
    width: 300px;
    opacity: 0.7;
    z-index: 3;
}

.nuage2 img {
    position: absolute;
    top: 29vh;
    right: 19.5vw;
    width: 270px;
    opacity: 0.8;
    z-index: 5;
}

.nuage3 img {
    position: absolute;
    top: 50vh;
    left: 8vw;
    width: 400px;
    opacity: 1;
    z-index: 5;
}

.nuage4 img {
    position: absolute;
    top: 60vh;
    right: 3vw;
    width: 400px;
    opacity: 1;
    z-index: 5;
}

.nuage5 img {
    position: absolute;
    top: 5vh;
    left: -5vw;
    width: 300px;
    opacity: 0.3;
    z-index: 5;
}

.nuage6 img {
    position: absolute;
    top: 1àvh;
    right: -3vw;
    width: 400px;
    opacity: 0.5;
    z-index: 5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Etna';
    background-color: #6A84A9;
    z-index: 6;
    color: #f5f2ed;
}

footer a {
    color: #f5f2ed;
}

}

@media only screen and (max-width: 768px) {
  .navbar {
    height: 2vh;
  }
  .logo {
    width: 60px;
  }

  .nav-list {
    width: 100%;
  }

main {
  width: 100%;
}
.containeur {
  position: relative;
}
.texte {
  position: absolute;
  font-size: 18vw;
  top: 20vh;
}

.navbar {
  height: 2vh;
}
.logo {
  width: 60px;
}

.nav-list {
  width: 100%;
}

.soleil img {
  width: 50%;
}

.montagne img {
  width: 1000px;
}

.nuage1 img {
  width: 200px;
}

.nuage2 img {
  width: 250px;
}

.nuage3 img {
  width: 300px;
}

.nuage4 img {
  width: 240px;
}

.nuage5 img {
  width: 200px;
}

.nuage6 img {
  width: 200px;
}
}

@media only screen and (max-width: 426px) {
.nuage1 img {
  display: none;
}

.nuage2 img {
  display: none;
}

.nuage3 img {
  display: none;
}

.nuage4 img {
  display: none;
}

.nuage5 img {
  display: none;
}

.nuage6 img {
  display: none;
}

.navbar {
  height: 1vh;
}

.soleil img {
  width: 400px;
  top: 20vh;
}

.montagne img {
  position: absolute;
  width: 1400px;
  top: 35vh;
}

.texte {
  top: 20vh;
}

.navbar {
    position: relative;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .logo {
    width: 80px;
  }

  .nav-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
    background-color: white;
    width: 50%;
    height: 100vh;
  }

  .return {
    display: block;
  }

  .nav-list.active {
    display: flex;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .dropdown .dropdown-content.show {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: unset;
    z-index: 1000;
    background-color: white;
    width: 50%;
    height: 100vh;
  }

  .show {
    animation: slideInRight;
    animation-duration: 1s;
  }

  .hide {
    animation: slideOutRight;
    animation-duration: 1s;
  }

  .burger {
    display: block;
  }
  .logo-wrapper {
    display: block;
  }
}