@font-face {
    font-family: 'Gang of Three';
    src: url('../font/GangofThree.woff2') format('woff2'),
        url('../font/GangofThree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Etna';
    src: url('../font/Etna.woff2') format('woff2'),
        url('../font/Etna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navbar {
  display: flex;
  justify-content: center;
  min-height: 10vh;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 80%;
  list-style-type: none;
}

.nav-list > li {
  position: relative;
}

.nav-list > li > a {
  display: block;
  padding: 14px 20px;
  color: black;
  text-decoration: none;
}

.nav-list > li > a:hover {
  text-shadow: 0px 0px 2px black;

}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  min-width: 200px;
  z-index: 500;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #A33C27;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: center;
}

.logo {
  position: relative;
  width: 100px;
}

.burger {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1001;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
}

.logo-wrapper {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.return {
  display: none;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

footer p {
    margin: 0;
    font-family: 'Etna';
    background-color: #6A84A9;
    color: #f5f2ed;
    height: 3vh;
}

footer a {
    color: #f5f2ed;
}


body {
    position: relative;
    font-family: 'Gang of Three';
    background-image: url('../../img/fond.jpg');
    overflow: hidden;

}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#table {
    position: relative;
    width: 40vw;
    height: 40vw;
    background-image: url('../img/table.png');
    background-size: cover;
    transform: rotate(45deg);
}

.texte {
    width: 50%;
    text-align: center;
}

.texte li {
    text-align: left;
    font-family: 'Etna';
    font-size: 3vw;
    color: #a33c27;
}

h1 {
    font-size: 4vw;
    color: #e49b3e;
}

h2 {
    font-size: 3.5vw;
}

.plat {
    position: absolute;
    width: 20%;
}

.plat1 {
    width: 25%;
    top: 20%;
    left: 10%;
}

.plat2 {
    width: 23%;
    top: 10%;
    left: 38%;
}

.plat3 {
    width: 22%;
    top: 16%;
    left: 63%;
}

.plat4 {
    width: 23%;
    top: 39%;
    left: 72%;
}

.plat5 {
    width: 23%;
    top: 62%;
    left: 65%;
}

.plat6 {
    width: 30%;
    top: 75%;
    right: 35%;
}

.plat7 {
    width: 22%;
    top: 64%;
    left: 13%;
}

.plat8 {
    width: 23%;
    top: 39%;
    left: 3%;
}

#cercle {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: #A33C27;
    position: absolute;
    top: 35%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    text-align: center;
    cursor: pointer;
}